* {
  box-sizing: border-box;
  margin: 0;
}

body {
  width: 100%;
  height: 100vh;
  font-family: "Poppins", sans-serif;
  background-color: #e5e5e5;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sr-only {
  position: absolute;
  z-index: -100;
  width: 1px;
  height: 1px;
  overflow: hidden;
  opacity: 0;
}

.card {
  width: 840px;
  background-color: #fff;
  display: flex;
  padding: 24px;
}

.card-image {
  position: relative;
  width: 300px;
  height: 200px;
  background-image: url("./assets/img-house.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  overflow: hidden;
  border-radius: 6px;
  margin-right: 24px;
}

.card-image .like-button {
  position: absolute;
  top: 12px;
  left: 12px;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background-color: #fff;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background-image: url(./assets/icon-favorite.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 24px 24px;
  cursor: pointer;
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
}

.card-content {
  flex-grow: 1;
}

.plus-badge {
  display: inline-block;
  background-color: #92174d;
  font-size: 14px;
  line-height: 1.4285714286;
  padding: 1px 8px;
  font-weight: 500;
  color: #fff;
  border-radius: 4px;
  text-transform: uppercase;
  margin-right: 6px;
}

.property-type span {
  font-size: 16px;
  line-height: 1.25;
  color: #7d858f;
}

.property-rate {
  font-size: 16px;
  line-height: 1.25;
}

.property-rate strong {
  color: #151b26;
  font-weight: 400;
}

.property-rate span {
  color: #7d858f;
}

.property-rate::before {
  content: "";
  position: relative;
  top: 2px;
  display: inline-block;
  width: 16px;
  height: 16px;
  background-image: url("./assets/icon-star.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}

.card-title {
  font-size: 20px;
  line-height: 1.6;
  font-weight: 400;
  color: #151b26;
  margin-bottom: 16px;
}

.property-detail {
  font-size: 14px;
  line-height: 1.1428571429;
  color: #7d858f;
}

.property-detail dd span::after {
  content: "∙";
  margin: 0 8px;
}

.property-detail dd span:last-child::after {
  content: "";
  margin: 0;
}

.property-detail div:first-child {
  margin-bottom: 8px;
}
